@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrannyCare</title>
    <style>
        *{
            margin:0;
            padding:0;
        }
        body{
            background:#f2f2f2;
            font-family: "微软雅黑";
        }
        /* head part */
        header{
            background:#556299;
            color:#fff;
            padding:20px;
        }
        header h1{
            font-size:36px;
        }
        /* navigation links */
        nav ul{
            list-style-type: none;
            height:30px;
            background:#788BD9;
        }
        nav ul li{
            float: left;
            margin-right:10px;
        }
        nav ul li a{
            display: block;
            padding:5px 10px;
            color:#fff;
            text-decoration: none;
        }
        nav ul li a:hover{
            color:#666;
            background:#fff;
        }
        main{
            padding:20px;
        }
        article{
            border:1px solid #ccc;
            background-color: #fff;
            padding:20px;
            margin-bottom: 20px;
        }
        article h2{
            font-size:24px;
            margin: 0 0 10px 0px;
        }
        article a{
            color:#8895CC;
            text-decoration: none;
        }
        article a:hover{
            color:red;
        }
        footer{
            font-size:10px;
            padding:20px;
        }
    </style>
</head>
<body>
    <header>
        <h1>GrannyCare Store</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                @if (HttpContextAccessor.HttpContext.Session.GetString("Nickname") != null)
                {
                    <li><a href="/">Current User:  @HttpContextAccessor.HttpContext.Session.GetString("Nickname")</a></li>
                    <li><a href="/Login/Logout">Logout</a></li>
                    <li><a href="/">MyCart</a></li>
                }else{
                    <li><a href="/Login/Index">Login</a></li>
                }
                
            </ul>
        </nav>
    </header>

    <!-- middle area -->
    @RenderBody();

    <footer>
        <p align="center">All rights reserved © 2023 GrannyCare</p>
    </footer>
</body>
</html>